/* OrderItemsContainer.css */
.order-container {
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

/* Heading style */
.order-container h4 {
  margin-bottom: 5px;
  font-size: 18px;
}
.order-items {
  display: flex;
  flex-direction: column;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.headings {
  font-weight: bold;
}

.heading {
  flex: 2;
  padding-right: 10px;
}

.subtotal {
  flex: 1;
  text-align: right;
}

.total-subtotal {
  border-top: 1px solid #ccc;
  font-weight: bold;
  margin-top: 10px;
}

.total-subtotal > div {
  flex: 1;
  text-align: right;
}