.main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    font-size: 20px;
}

.main-arrow {
    font-size: 24px;
}

.back, .next {
    cursor: pointer;
}

.back:hover, .next:hover {
    color: var(--primaryColor);
}

.highlight-wrapper {
    width: 100%;
    display: flex;
    padding: 1%;
    border-radius: 8px;
    gap: 1.5rem;
    overflow-x: hidden;
}

/* Example CSS for the sidebar */
.offcanvas {
    position: fixed;
    width: 300px; /* Adjust the width of your sidebar */
    height: 100%; /* or set a specific height */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: white; /* Add your background color */
    border-left: 1px solid #ccc; /* For visualization purposes */
    z-index: 10000; /* Ensure it's above the main content */
  }
  
  